{% extends 'base.html.twig' %}

{% block title %}Symrecipe Mes ingrédients!{% endblock %}

{% block body %}

 <div class="container mt-4">

   
   {% if not ingredients.items is same as([]) %}
    <h1 class="txt2"> Mes ingrédients  </h1>

     <a href="{{ path('ingredient.new') }}"  class=" btn btn-primary txt2">
     Créer un ingrédient
     </a>

    {% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

   
  <h2> 
  <div class="count mt-4 txt2">
     Il y a {{ ingredients.getTotalItemCount }} ingrédients au total.  
    </div>
  </h2>
    

 <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" class="txt2">Numéro</th>
      <th scope="col" class="txt2">Nom</th>
      <th scope="col" class="txt2">Prix</th>
      <th scope="col" class="txt2">Date de création</th>
      <th scope="col" class="txt2">Edition</th>
      <th scope="col" class="txt2">Suppression</th>
    </tr>
  </thead>
  <tbody>
  {% for ingredient in ingredients %}

      <tr class="table-primary">
        <th scope="row">{{ ingredient.id }}</th>
        <td>{{ ingredient.name }}</td>
        <td>{{ ingredient.price }}</td>
        <td>{{ ingredient.createdat |date('d/m/Y') }}</td>
        <td>
        <a href="{{ path('ingredient.edit', { id: ingredient.id }) }}" class="btn btn-info">Modifier</a>
        </td>
        <td>
        <a href="{{ path('ingredient.delete', { id: ingredient.id }) }}" class="btn btn-warning">Supprimer</a>
        </td>
      </tr>
  {% endfor %}
    
  </tbody>
 </table>  

 <div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(ingredients) }}
</div>

{% else %}
			<h4 class="txt2">Il n'y a pas d'ingrédients</h4>

{% endif %}
 </div>


{% endblock %}

